---
title: Personalized gifts for everyone
preheader: Here are some things for your significant other who is creative and into baking and cooking.
---

{% extends "src/layouts/default.njk" %}

{% block template %}
<table class="w-full all:font-sans">
  <tr>
    <td align="center" class="w-full bg-white">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-64">
            <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/logo.png" alt="Canopy" width="282">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-gray-canopy">
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <table class="w-full">
              <tr>
                <td align="center" class="bg-white shadow-canopy rounded text-center py-32 px-36">
                  <table align="center" class="mx-auto">
                    <tr>
                      <td class="pr-8">
                        <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/gift.png" alt="🎁" width="16" class="align-middle">
                      </td>
                      <td class="text-gray-canopy-dark font-normal text-sm text-gray-canopy-dark pt-4">
                        Personalized Gift Finder
                      </td>
                    </tr>
                  </table>
                  <p class="text-3xl text-gray-canopy-darkest">Here are some things for your <span class="no-underline text-blue-canopy">significant other</span> who is <span class="no-underline text-blue-canopy">creative</span> and into <span class="no-underline text-blue-canopy">baking and cooking</span>.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=0473715e0f&e=0d820991a4" class="no-underline">
              <table class="w-full sm:text-center">
                <tr>
                  <td class="w-1/2 sm:w-full sm:max-w-282 sm:min-h-300 sm:inline-block bg-white bg-no-repeat bg-center bg-contain align-top" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/soap-shots-1.jpg');">
                    {% component "src/components/vmlbg.njk", {width: 282, height: 300, src: 'https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/soap-shots-1.jpg'} %}
                      <div>
                        <table align="right">
                          <tr>
                            <td class="bg-teal-canopy p-10">
                              <a href="https://example.com" class="no-underline text-white text-lg font-semibold">
                                <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/check.png" alt="✔" width="18" class="align-bottom mr-4 mb-2">
                                $41
                              </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endcomponent %}
                  </td>
                  <td class="w-1/2 sm:w-full sm:inline-block sm:text-center">
                    <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=0473715e0f&e=0d820991a4" class="no-underline">
                      <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/soap-shots-2.jpg" alt="Rena Redzepi: A Work in Progress" width="282">
                    </a>
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=2368efe29f&e=0d820991a4" class="no-underline">
              <table class="w-full sm:text-center">
                <tr>
                  <td class="w-1/2 sm:w-full sm:max-w-282 h-300 sm:inline-block bg-white bg-no-repeat bg-center bg-contain align-top" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/citrus-press-1.jpg');">
                    {% component "src/components/vmlbg.njk", {width: 282, height: 300, src: 'https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/citrus-press-1.jpg'} %}
                      <div>
                        <table align="right">
                          <tr>
                            <td class="bg-teal-canopy p-10">
                              <a href="https://example.com" class="no-underline text-white text-lg font-semibold">
                                <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/check.png" alt="✔" width="18" class="align-bottom mr-4 mb-2">
                                $180
                              </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endcomponent %}
                  </td>
                  <td class="w-1/2 sm:w-full sm:max-w-282 h-300 sm:inline-block bg-white bg-no-repeat bg-center bg-contain align-top" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/citrus-press-2.jpg');">
                    {% component "src/components/vmlbg.njk", {width: 282, height: 300, src: 'https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/citrus-press-2.jpg'} %}
                      <div>
                        <table align="right">
                          <tr>
                            <td class="bg-teal-canopy p-10">
                              <a href="https://example.com" class="no-underline text-white text-lg font-semibold">
                                <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/check.png" alt="✔" width="18" class="align-bottom mr-4 mb-2">
                                $80
                              </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endcomponent %}
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=ebd4d8da32&e=0d820991a4" class="no-underline">
              <table class="w-full sm:text-center">
                <tr>
                  <td class="w-1/2 sm:w-full sm:max-w-282 sm:min-h-300 sm:inline-block bg-white bg-no-repeat bg-center bg-contain align-top" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/knife-holder-1.jpg');">
                    {% component "src/components/vmlbg.njk", {width: 282, height: 300, src: 'https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/knife-holder-1.jpg'} %}
                      <div>
                        <table align="right">
                          <tr>
                            <td class="bg-teal-canopy p-10">
                              <a href="https://example.com" class="no-underline text-white text-lg font-semibold">
                                <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/check.png" alt="✔" width="18" class="align-bottom mr-4 mb-2">
                                $110
                              </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endcomponent %}
                  </td>
                  <td class="w-1/2 sm:w-full sm:inline-block sm:text-center">
                    <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=ebd4d8da32&e=0d820991a4" class="no-underline">
                      <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/knife-holder-2.jpg" alt="Pure White Magnetic Knife Holder" width="282">
                    </a>
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=d86c3e3e83&e=0d820991a4" class="no-underline">
              <table class="w-full sm:text-center">
                <tr>
                  <td class="w-1/2 sm:w-full sm:max-w-282 sm:min-h-300 sm:inline-block bg-white bg-no-repeat bg-center bg-contain align-top" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/cutting-board-1.jpg');">
                    {% component "src/components/vmlbg.njk", {width: 282, height: 300, src: 'https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/cutting-board-1.jpg'} %}
                      <div>
                        <table align="right">
                          <tr>
                            <td class="bg-teal-canopy p-10">
                              <a href="https://example.com" class="no-underline text-white text-lg font-semibold">
                                <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/check.png" alt="✔" width="18" class="align-bottom mr-4 mb-2">
                                $20
                              </a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endcomponent %}
                  </td>
                  <td class="w-1/2 sm:w-full sm:inline-block sm:text-center">
                    <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=d86c3e3e83&e=0d820991a4" class="no-underline">
                      <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/cutting-board-2.jpg" alt="Fred and Friends Obsessive Chef Cutting Board" width="282">
                    </a>
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <table class="w-full">
              <tr>
                <th class="bg-blue-canopy-cta hover:bg-blue-canopy-link" style="mso-padding-alt: 40px 48px;">
                  <a href="https://maizzle.com" class="block text-white text-xl font-normal leading-full py-40 sm:py-20 px-48 sm:px-24 sm:leading-24 no-underline">Find Your Own Unique Gifts</a>
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <div class="bg-gray-canopy-light h-10 leading-10">&nbsp;</div>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18 w-full">
            <table class="w-full">
              <tr>
                <td class="w-3/5 sm:table-footer-group px-16 sm:text-center">
                  <h2 class="font-light text-3xl leading-36 text-gray-canopy-darkest">Canopy for Android is almost ready</h2>
                  <p class="text-gray-canopy-dark text-lg">If you'd like access before our public launch, <a href="http://canopy.us7.list-manage2.com/track/click?u=17bf9b7f6b204b86982b15df2&id=d86f34a13d&e=0d820991a4" class="no-underline hover:underline text-blue-canopy-link">sign up here</a>.</p>
                </td>
                <td class="w-2/5 sm:table-header-group sm:text-center">
                  <a href="http://canopy.us7.list-manage2.com/track/click?u=17bf9b7f6b204b86982b15df2&id=d86f34a13d&e=0d820991a4" class="no-underline">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/canopy-android.jpg" alt="Canopy for Android" width="225">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="px-18">
            <div class="bg-gray-canopy-light h-10 leading-10">&nbsp;</div>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
      <table class="w-full">
        <tr>
          <td align="center">
            <img src="https://res.cloudinary.com/maizzle/image/upload/v1559995754/remix/canopy/canopy-ios.png" alt="Canopy for iOS" width="72">
            <div class="leading-40 sm:h-24">&nbsp;</div>
            <p class="m-0 text-gray-canopy-darker text-lg">
              Canopy is available for iOS
            </p>
            <p class="m-0 text-lg">
              <a href="http://canopy.us7.list-manage.com/track/click?u=17bf9b7f6b204b86982b15df2&id=f16ab24083&e=0d820991a4" class="no-underline text-blue-canopy-link font-semibold">Get it on the App Store</a>
            </p>
          </td>
        </tr>
      </table>
      <div class="leading-56 sm:h-32">&nbsp;</div>
    </td>
  </tr>
  <tr>
    <td align="center" class="w-full bg-white">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="left" class="py-64 px-18">
            <table>
              <tr>
                <td class="pr-10"><a href="https://example.com" class="no-underline hover:underline text-gray-700 text-xs font-semibold">Learn more</a></td>
                <td class="pr-10"><a href="https://example.com" class="no-underline hover:underline text-gray-700 text-xs font-semibold">Add products</a></td>
                <td class="pr-10"><a href="https://example.com" class="no-underline hover:underline text-gray-700 text-xs font-semibold">About</a></td>
                <td class="pr-10"><a href="https://example.com" class="no-underline hover:underline text-gray-700 text-xs font-semibold">App</a></td>
              </tr>
            </table>
            <div class="text-xs text-gray-canopy-darker">
                <p>
                  Copyright &copy; 2015 Canopy, All rights reserved.<br>
                  You provided your email address when you signed up for our newsletter or joined Canopy.
                </p>

                <p>
                  <strong>Our mailing address is:</strong>
                  <br>
                  Canopy
                  <br>
                  1715 McAllister St.
                  <br>
                  #202
                  <br>
                  San Francisco, CA  94115
                </p>

                <p>
                  <a href="http://canopy.us7.list-manage.com/vcard?u=17bf9b7f6b204b86982b15df2&id=b4734692da" class="no-underline hover:underline text-gray-canopy-darker text-xs font-semibold">Add us to your address book</a>
                </p>

                <table>
                  <tr>
                    <td class="sm:inline-block sm:w-full pr-10 sm:py-10">
                      <a href="https://example.com" class="no-underline hover:underline text-gray-canopy-darker text-xs font-semibold">unsubscribe from this list</a>
                    </td>
                    <td class="sm:inline-block sm:w-full pr-10 sm:py-10">
                      <a href="https://example.com" class="no-underline hover:underline text-gray-canopy-darker text-xs font-semibold">update subscription preferences</a>
                    </td>
                  </tr>
                </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
