---
title: What if you could launch products 12x faster?
preheader: What if you could launch products 12x faster?
---

{% block head %}
<style tailwind>
  .asana-border {
    border-color: #eff0f1;
    @apply border border-solid;
  }

  .asana-content-padding {
    @apply pt-40 pb-20 px-48;
  }
</style>
{% endblock %}

{% block template %}
<table class="wrapper w-full all-font-sans">
  <tr>
    <td align="center" class="w-full sm-px-10">
      <table class="w-600 sm-w-full">
        <tr>
          <td class="py-20 text-right sm-text-center">
            <a href="https://example.com" class="text-xs text-gray-600 underline">View in browser</a>
          </td>
        </tr>
        <tr>
          <td align="center" class="pt-20 pb-40">
            <a href="https://asana.com" class="no-underline">
              <img src="https://luna1.co/47fe03.png" alt="Asana" width="160">
            </a>
          </td>
        </tr>
        <tr>
          <td class="pb-32">
            <table class="w-full asana-border">
              <tr>
                <td align="left" class="w-1-2 sm-w-full sm-inline-block p-40 bg-asana-red text-white sm-text-center">
                  <p class="uppercase text-xs m-0 font-medium">•&nbsp;&nbsp;Live webinar</p>
                  <h1 class="text-white font-normal text-4xl leading-48">Ship better products, faster</h1>
                  <p class="text-base m-0">September 12, 2018 <br>11am PT</p>
                  <div class="leading-40 sm-h-32">&zwnj;</div>
                  <table class="sm-mx-auto">
                    <tr>
                      <td class="bg-white rounded text-center" style="mso-padding-alt: 12px 24px;">
                        <a href="https://register.gotowebinar.com/register/2628528074070401291" class="block text-black text-base leading-full py-12 px-24 no-underline">Register now</a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="w-1-2 sm-w-full sm-inline-block p-40 text-center text-black bg-asana-gray">
                  <a href="https://register.gotowebinar.com/register/2628528074070401291" class="no-underline">
                    <img src="https://luna1.co/77e7b7.png" alt="Dallas Farrell" width="106">
                  </a>
                  <p class="text-base mt-32 mb-6">Dallas Farrell</p>
                  <p class="text-xs mt-0 mb-48">GTM Project Manager, Stance</p>
                  <a href="https://register.gotowebinar.com/register/2628528074070401291">
                    <img src="https://luna1.co/11f8e1.png" alt="Stance" width="120">
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="asana-content-padding sm-px-24">
                  <p class="text-black text-base text-center mb-32">
                    Join us and Dallas Farrell,
                    <a href="https://register.gotowebinar.com/register/2628528074070401291" class="text-asana-indigo font-bold no-underline">Stance</a>'s GTM Project Manager for a
                    <a href="https://register.gotowebinar.com/register/2628528074070401291" class="text-asana-indigo font-bold no-underline">live webinar</a>
                    on <strong>Wednesday, September 12th at 11am PT</strong> to learn:
                  </p>
                  <ul class="ml-48 sm-ml-32 p-0 text-base text-left" style="list-style-position: inside;">
                    <li class="m-0 mb-12" style="list-style: disc; mso-special-format: bullet;">How Stance reduced its go-to-market time by 90%</li>
                    <li class="m-0 mb-12" style="list-style: disc; mso-special-format: bullet;">Simple strategies to improve your product launch processes that impact your business</li>
                    <li class="m-0" style="list-style: disc; mso-special-format: bullet;">How Stance manages their entire launch process in Asana</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td align="center" colspan="2" class="pt-32 sm-pt-16 pb-48">
                  <table>
                    <tr>
                      <td class="bg-asana-indigo rounded text-center" style="mso-padding-alt: 14px 26px;">
                        <a href="https://register.gotowebinar.com/register/2628528074070401291" class="block text-white text-base leading-full py-14 px-26 no-underline">Register now</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-full">
              <tr>
                <td align="center" class="p-32 pb-16">
                  <p class="text-gray-600 text-xs mb-20">
                    You are signed up for this email as <em>hello@SmilesDavis.yeah</em>.
                    <a href="https://example.com" class="text-asana-indigo underline">Manage email preferences</a>.
                  </p>
                  <p class="text-gray-600 text-xs m-0">1550 Bryant Street, San Francisco, CA 94103</p>
                </td>
              </tr>
            </table>
            <table align="center" class="mx-auto">
              <tr>
                <td class="px-6">
                  <a class="no-underline" href="https://m.facebook.com/login.php?skip_api_login=1&amp;api_key=966242223397117&amp;signed_next=1&amp;next=https%3A%2F%2Fm.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dasana.com&amp;cancel_url=https%3A%2F%2Fm.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&amp;display=touch&amp;locale=en_US&amp;_rdr" rel="noopener noreferrer">
                    <img src="https://luna1.co/ee42a9.png" height="24" width="24">
                  </a>
                </td>
                <td class="px-6">
                  <a class="no-underline" href="https://twitter.com/intent/tweet?text=Move%20work%20forward%20with%20Asana&amp;url=asana.com&amp;via=asana&amp;original_referer=" rel="noopener noreferrer">
                    <img src="https://luna1.co/b4bf94.png" height="24" width="24">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
