---
title: Your reservation is now confirmed
preheader: Hey Jamie, thanks for booking with us - your reservation is now confirmed ✔
bodyClass: bg-skin
googleFonts: Roboto
---

{% extends "src/layouts/default.njk" %}

{% block head %}
<style tailwind>
  @screen sm {
    .sm-dui17-b-t {
    @apply border-solid border-0 border-t-4 border-blue-500;
    }
  }
</style>
{% endblock %}

{% block template %}
<table class="w-full h-full all:font-sans">
  <tr>
    <td align="center" class="w-full py-24 sm:px-24">
      <table class="w-600 sm:w-full">
        <tr>
          <td colspan="2" class="hidden sm:inline-block">
            <img src="https://images.unsplash.com/photo-1505577058444-a3dab90d4253?ixlib=rb-0.3.5&s=fed02ccbe457c9b8fc1f2cf76f30d755&w=600&h=400&q=80&fit=crop" alt="Double Room" class="shadow-lg rounded-tl rounded-tr">
          </td>
        </tr>
        <tr>
          <td class="w-160 py-40 sm:hidden">
            <img src="https://images.unsplash.com/photo-1505577058444-a3dab90d4253?ixlib=rb-0.3.5&s=fed02ccbe457c9b8fc1f2cf76f30d755&w=320&h=800&q=80&fit=crop" alt="Double room" class="w-160 shadow-lg rounded-tl rounded-bl">
          </td>
          <td align="left" class="bg-white shadow-lg p-40 sm:p-20 align-top rounded-sm sm:dui17-b-t relative z-50">

            <table class="w-full">
              <tr>
                <td class="w-4-5">
                  <h1 class="m-0 mb-4 text-2xl sm:text-lg all:font-roboto font-bold leading-full">Customer Receipt</h1>
                  <p class="m-0 text-gray-500 text-sm sm:text-xs">Your reservation is now confirmed</p>
                </td>
                <td class="w-1/5 text-right">
                  <a href="https://example.com" target="_blank" class="no-underline">
                    <img src="https://image0.flaticon.com/icons/png/128/872/872220.png" alt="Download PDF" class="w-24 text-xs text-blue">
                  </a>
                </td>
              </tr>
            </table>

            <div class="leading-32">&zwnj;</div>

            <table class="w-full text-sm leading-28 sm:leading-32">
              <tr>
                <td class="w-1/2 sm:inline-block text-gray-600">Guest</td>
                <td class="w-1/2 sm:inline-block text-right font-semibold">Jamie Doe</td>
              </tr>
              <tr>
                <td class="w-1/2 sm:inline-block text-gray-600">Nights</td>
                <td class="w-1/2 sm:inline-block text-right font-semibold">6</td>
              </tr>
              <tr>
                <td class="w-1/2 sm:w-1/4 sm:inline-block text-gray-600">Address</td>
                <td class="w-1/2 sm:w-3/4 sm:inline-block text-right font-semibold">45 Park avenue, Apt. 303</td>
              </tr>
            </table>

            <table class="w-full">
              <tr>
                <td class="py-24">
                  <div class="bg-gray-200 h-2 leading-2">&zwnj;</div>
                </td>
              </tr>
            </table>

            <table class="w-full text-sm">
              <tr>
                <td class="w-2/5 sm:w-full sm:inline-block sm:text-center">
                  <p class="text-gray-500 text-xxs all:font-roboto tracking-wide m-0 mb-4 uppercase">Check-in</p>
                  <p class="text-black all:font-roboto font-semibold m-0">29 NOV 2018</p>
                </td>
                <td class="w-1/5 sm:w-full sm:inline-block sm:py-12 text-center font-semibold text-lg tracking-tight font-mono text-gray-400">&gt;&gt;&gt;</td>
                <td class="w-2/5 sm:w-full sm:inline-block text-right sm:text-center">
                  <p class="text-gray-500 text-xxs all:font-roboto tracking-wide m-0 mb-4 uppercase">Check-out</p>
                  <p class="text-black all:font-roboto font-semibold m-0">4 DEC 2018</p>
                </td>
              </tr>
            </table>

            <table class="w-full">
              <tr>
                <td class="py-24">
                  <div class="bg-gray-200 h-2 leading-2">&zwnj;</div>
                </td>
              </tr>
            </table>

            <table class="w-full text-sm leading-28">
              <tr>
                <td class="w-1/2 text-gray-600">Price per night</td>
                <td class="w-1/2 text-right font-semibold">$144.99</td>
              </tr>
              <tr>
                <td class="w-1/2 text-gray-600">Cleaning fee</td>
                <td class="w-1/2 text-right font-semibold">$19.99</td>
              </tr>
              <tr>
                <td class="w-1/2 text-black font-semibold text-xl pt-32">Total</td>
                <td class="w-1/2 text-green-400 font-semibold text-xl text-right pt-32">$889.93</td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
