---
title: Complete your purchase
googleFonts: Montserrat
---

{% extends "src/layouts/default.njk" %}

{% block template %}
<table class="w-full bg-gray-200">
  <tr>
    <td align="center" class="w-full sm:px-12">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-24">
            <h1 class="m-0">
              <a href="https://maizzle.com" class="all:font-montserrat text-gray-600 no-underline text-2xl hover:opacity-75">
                <img src="https://res.cloudinary.com/maizzle/image/upload/v1541500690/remix/deal-shop/logo.png" width="40" class="mr-6">
                Deal Shop
              </a>
            </h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full sm:px-12">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-64">
            <img src="https://res.cloudinary.com/maizzle/image/upload/v1541500690/remix/deal-shop/cart-hero.png" width="93">
            <h2 class="mt-24 mb-4 text-xl text-gray-700 all:font-montserrat">Your shopping cart has abandonment issues</h2>
            <p class="m-0 mb-24 text-base text-gray-600 all:font-sans">Save these items hours of therapy & give them a loving home.</p>
            <table>
              <tr>
                <th class="bg-dealshop-blue hover:bg-dealshop-blue-dark shadow-md rounded-full" style="mso-padding-alt: 16px 40px;">
                  <a href="https://maizzle.com" class="block text-sm text-white all:font-montserrat font-semibold leading-full py-16 px-40 no-underline">Return to Shop</a>
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="px-60 sm:px-12">
            <h3 class="all:font-montserrat text-gray-800 text-base font-semibold">In Your Cart</h3>
            <table class="w-px">
              <tr>
                <td>
                  <div class="bg-gray-200 h-64 leading-64">&zwnj;</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="px-64 sm:px-12">
            <table class="w-full shadow-xl border border-solid border-gray-200 rounded-lg">
              <tr>
                <td class="bg-white rounded-lg">
                  <table class="w-full">
                    <tr>
                      <td align="center" class="w-1-2 p-32">
                        <img src="https://res.cloudinary.com/maizzle/image/upload/v1541500690/remix/deal-shop/product-1.png" alt="Formal Watch">
                      </td>
                      <td align="left" class="w-1-2 all:font-montserrat">
                        <h4 class="m-0 mb-2 text-gray-800 text-lg">Formal Watch <span class="sm:block text-gray-600 font-normal text-sm">x 1</span></h4>
                        <p class="m-0 mb-10 text-gray-600 text-sm">Formal, Stylish, Waterproof</p>
                        <p class="m-0 text-2xl text-gray-800 font-bold">$215</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-px">
              <tr>
                <td>
                  <div class="bg-gray-300 h-64 leading-64">&zwnj;</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="px-64 sm:px-12">
            <table class="w-full shadow-xl border border-solid border-gray-200 rounded-lg">
              <tr>
                <td class="bg-white rounded-lg">
                  <table class="w-full">
                    <tr>
                      <td align="center" class="w-1-2 p-32">
                        <img src="https://res.cloudinary.com/maizzle/image/upload/v1541500690/remix/deal-shop/product-2.png" alt="Orange Watch">
                      </td>
                      <td align="left" class="w-1-2 all:font-montserrat">
                        <h4 class="m-0 mb-2 text-gray-800 text-lg">Orange Watch <span class="sm:block text-gray-600 font-normal text-sm">x 1</span></h4>
                        <p class="m-0 mb-10 text-gray-600 text-sm">Sports, Stylish, Waterproof</p>
                        <p class="m-0 text-2xl text-gray-800 font-bold">$165</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-px">
              <tr>
                <td>
                  <div class="bg-gray-300 h-64 leading-64">&zwnj;</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="px-64 sm:px-12">
            <table class="w-full shadow-xl border border-solid border-gray-200 rounded-lg">
              <tr>
                <td class="bg-white rounded-lg">
                  <table class="w-full">
                    <tr>
                      <td align="center" class="w-1-2 p-32">
                        <img src="https://res.cloudinary.com/maizzle/image/upload/v1541500690/remix/deal-shop/product-3.png" alt="Smart Watch">
                      </td>
                      <td align="left" class="w-1-2 all:font-montserrat">
                        <h4 class="m-0 mb-2 text-gray-800 text-lg">Smart Watch <span class="sm:block text-gray-600 font-normal text-sm">x 1</span></h4>
                        <p class="m-0 mb-10 text-gray-600 text-sm">Casual, Smart, IP68</p>
                        <p class="m-0 text-2xl text-gray-800 font-bold">$799</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="leading-32">&zwnj;</div>

<table class="w-full bg-white">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-24 sm:px-12">
            <table>
              <tr>
                <th class="bg-dealshop-blue hover:bg-dealshop-blue-dark shadow-md rounded-full" style="mso-padding-alt: 16px 40px;">
                  <a href="https://maizzle.com" class="block text-sm text-white all:font-montserrat font-semibold leading-full py-16 px-40 no-underline">Return to Shop</a>
                </th>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="leading-32">&zwnj;</div>

<table class="w-full bg-gray-200">
  <tr>
    <td align="center" class="w-full">
      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-48 sm:px-12 all:font-sans">
            <h2 class="m-0 text-xl all:font-montserrat text-gray-700">&copy; {{ page.year }} Deal Shop</h2>
            <p class="m-0 text-gray-600 text-sm">126-130 Crosby Street, Soho New York City, NY 10012, U.S.</p>
            <div class="leading-24">&zwnj;</div>
            <table>
              <tr>
                <td class="px-8 sm:block sm:text-center sm:py-8">
                  <a href="https://maizzle.com" class="no-underline text-sm text-gray-600 hover:text-gray-800">Product</a>
                </td>
                <td class="px-8 sm:block sm:text-center sm:py-8">
                  <a href="https://maizzle.com" class="no-underline text-sm text-gray-600 hover:text-gray-800">Blog</a>
                </td>
                <td class="px-8 sm:block sm:text-center sm:py-8">
                  <a href="https://maizzle.com" class="no-underline text-sm text-gray-600 hover:text-gray-800">Terms & Conditions</a>
                </td>
                <td class="px-8 sm:block sm:text-center sm:py-8">
                  <a href="https://maizzle.com" class="no-underline text-sm text-gray-600 hover:text-gray-800">Privacy</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
