---
title: 'Rockstar Games Presents: Red Dead Redemption II'
preheader: America, 1899. The end of the Wild West era has begun.
googleFonts: Bevan|Oswald
bodyClass: bg-black
---

{% extends "src/layouts/default.njk" %}

{% block head %}
<style>
  @media screen {
    .transition-all {transition: all 0.3s ease-in-out 0s;}
    .font-bevan {font-family: 'Bevan', cursive !important;}
    .font-oswald {font-family: 'Oswald', sans-serif !important;}
    .cta-bg {background: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/cta-bg.png') center no-repeat !important;}
  }
</style>
{% endblock %}

{% block template %}
<table class="w-full bg-black">
  <tr>
    <td align="center" class="w-full">

      <table class="w-600 sm:hidden">
        <tr>
          <td class="text-white text-center text-xs p-12 font-oswald">
            Email looking all shot up? <a href="https://example.com" class="text-white underline">View online</a>
          </td>
        </tr>
      </table>

      <div>
        <a href="https://www.rockstargames.com/reddeadredemption2/">
          <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/hero.jpg" alt="Red Dead Redemption 2" width="600" class="all:w-full">
        </a>
      </div>

      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="sm:px-20">
            <p class="text-xl text-white font-bevan uppercase">Out now</p>
            <table>
              <tr>
                <th class="bg-red-500 cta-bg" style="mso-padding-alt: 16px 48px;">
                  <a href="https://www.rockstargames.com/reddeadredemption2/" class="block font-bevan text-black hover:text-white text-xl leading-full py-16 px-48 no-underline transition-all">ORDER</a>
                </th>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="text-center py-40 sm:px-20">
            <p class="text-white font-oswald text-base leading-20 m-0">
              America, 1899. The end of the Wild West era has begun. After a robbery goes badly wrong in the western town of
              Blackwater, Arthur Morgan and the Van der Linde gang are forced to flee. With federal agents and the best bounty
              hunters in the nation massing on their heels, the gang must rob, steal and fight their way across the rugged heartland
              of America in order to survive. As deepening internal divisions threaten to tear the gang apart, Arthur must make a
              choice between his own ideals and loyalty to the gang who raised him.
            </p>
          </td>
        </tr>
      </table>

      <div class="sm:px-20">
        <table class="w-600 sm:w-full text-white">
          <tr>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/trailer.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/trailer.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/videos?id=12104">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-1.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/videos?id=12104" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Launch trailer</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/reviews.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/reviews.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/news/article/60660/Red-Dead-Redemption-2-Reviews">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-2.png" width="240" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/news/article/60660/Red-Dead-Redemption-2-Reviews" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Reviews</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/editions.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/editions.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/news/article/60459/The-Red-Dead-Redemption-2-Special-Edition-Ultimate-Edition-and-Collect">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-3.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/news/article/60459/The-Red-Dead-Redemption-2-Special-Edition-Ultimate-Edition-and-Collect" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Special & Ultimate Editions</a>
            </td>
          </tr>
          <tr>
            <td class="h-32"></td>
          </tr>
          <tr>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/weaponry.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/weaponry.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/features/weaponry">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-4.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/features/weaponry" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Weaponry</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/wildlife.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/wildlife.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/features/wildlife">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-5.png" width="240" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/features/wildlife" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Wildlife</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/gameplay-video.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/gameplay-video.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/videos?id=12103">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-6.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/videos?id=12103" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Gameplay Video</a>
            </td>
          </tr>
          <tr>
            <td class="h-32"></td>
          </tr>
          <tr>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/vanderlinde.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/vanderlinde.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/features/vanderlindegang">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-1.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/features/vanderlindegang" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">The Van Der Linde Gang</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 sm:pb-32 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/frontier.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/frontier.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/features/frontiercitiesandtowns">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-3.png" width="240" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/features/frontiercitiesandtowns" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">The Frontier, Cities & Towns</a>
            </td>
            <td class="w-1-3 sm:block sm:w-full text-center group hover:cursor-pointer px-10 align-top">
              <div class="bg-no-repeat bg-center bg-full transition-all group-hover:bg-size-120 mb-12" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/screens.jpg');">
                {% component "src/components/vmlbg.njk", {src: 'https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/screens.jpg', width: 200, height: 200} %}
                  <a href="https://www.rockstargames.com/reddeadredemption2/screens">
                    <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/mask-5.png" width="220" class="sm:w-full">
                  </a>
                {% endcomponent %}
              </div>
              <a href="https://www.rockstargames.com/reddeadredemption2/screens" class="text-white text-sm group-hover:text-rdr2-red font-bevan uppercase no-underline transition-all">Screens</a>
            </td>
          </tr>
        </table>
        <div class="leading-64 sm:h-32">&zwnj;</div>
        <table>
          <tr>
            <th class="bg-red-500 cta-bg" style="mso-padding-alt: 16px 48px;">
              <a href="https://www.rockstargames.com/reddeadredemption2/" class="block font-bevan text-black hover:text-white text-xl leading-full py-16 px-48 no-underline transition-all">ORDER</a>
            </th>
          </tr>
        </table>
      </div>

      <table class="w-600 sm:w-full">
        <tr>
          <td align="center" class="py-64">
            <a href="http://www.rockstargames.com/">
              <img src="https://res.cloudinary.com/maizzle/image/upload/v1541499905/remix/rdr2/logo-footer.png" width="64">
            </a>
          </td>
        </tr>
      </table>

      <table class="w-full bg-red-500" style="background: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/pattern-grunge-red.jpg');">
        <tr>
          <td align="center" class=" text-white font-bevan uppercase pt-64 pb-12 bg-no-repeat" style="background-image: url('https://res.cloudinary.com/maizzle/image/upload/v1541499909/remix/rdr2/pattern-grunge-mask.png'); background-position: 0 -70px;">
            <h2 class="m-0 text-4xl sm:text-2xl leading-full">Outlaws For Life</h2>
            <table class="w-600 sm:w-full">
              <tr>
                <td class="py-32 px-16">
                  <div class="bg-red-600 h-px leading-px">&zwnj;</div>
                </td>
              </tr>
            </table>
            <p class="m-0 mb-12 text-red-300 text-sm font-oswald normal-case">You are receiving this email because you signed up for updates.</p>
            <table class="font-oswald">
              <tr>
                <td class="text-center px-10">
                  <a href="http://www.rockstargames.com/privacy" class="text-red-300 hover:text-red-500 text-sm no-underline transition-all">Privacy</a>
                </td>
                <td class="text-center px-10">
                  <a href="http://www.rockstargames.com/legal" class="text-red-300 hover:text-red-500 text-sm no-underline transition-all">Legal</a>
                </td>
                <td class="text-center px-10">
                  <a href="https://example.com" class="text-red-300 hover:text-red-500 text-sm no-underline transition-all">Unsubscribe</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
{% endblock %}
